# R specific 
## History files
.Rhistory
.Rapp.history

## Session Data files
.RData
.RDataTmp

## User-specific files
.Ruserdata
.Rproj.user
.Rproj
.Renviron
.Rprofile
.rs.settings

## Example code in package build process
*-Ex.R

## Output files from R CMD build
/*.tar.gz

## Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.rs.settings
.Rapp.history
.Renviron

# VS Code specific
.vscode/

# Dependency directories (remove the '#' if you need to ignore these dirs)
#renv/library/
#renv/staging/
#packrat/
#packrat/lib/
#packrat/src/
#packrat/bundles/
#packrat/lib-R/

# User-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Shiny token for shinyapps.io deployment
rsconnect/

# Other

## Logs
*.log

## Others
*.tar.gz
*.Rcheck/
*.Rproj
*.swp
*.swo
.vagrant/
.DS_Store
*.out
*.pid
*.seed
*.pid.lock

## produced vignettes
vignettes/*.html
vignettes/*.pdf

## OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

## knitr and R markdown default cache directories
*_cache/
/cache/

## Temporary files created by R markdown
*.utf8.md
*.knit.md

## R Environment Variables
.Renviron

## pkgdown site
docs/

## translation temp files
po/*~

##RStudio Connect folder
rsconnect/
